<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="personal.loginapp.mapper.BaseMapper">

    <insert id="insertBase" parameterType="personal.loginapp.entity.BaseEntity">
      INSERT INTO temp_tab (temp_col1,temp_col2,temp_col3,temp_col4)
      <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="tempCol1 != null and tempCol1 != ''">
            #{tempCol1},
        </if>
        <if test="tempCol2 != null">
            #{tempCol2,jdbcType=TIMESTAMP},
        </if>
        <if test="tempCol3 != null and tempCol3 != ''">
            #{tempCol3},
        </if>
        <if test="tempCol4 != null and tempCol4 != ''">
            #{tempCol4},
        </if>
      </trim>
    </insert>

</mapper>